*{
    margin: 0%;
    padding: 0%;
}
body{
    margin: 0% 0%;
    padding: 0% 0%;
    /* background-color: black; */
}
.right-box{
    height: 1000px;
    background-color: black;
    width: 100%;
    color: white;
}

.home, .Playlist , .liked {
    font-weight: bold;
}

/* {
    font-weight: bold;
} */

.library{
    font-weight: bold;
}

.search{
    font-weight: bold;
}

.spotify-text{
    font-weight: bold;
    font-size: larger;
}


.n{
    /* position: fixed; */
    /* display: table-row; */
    background-color: rgb(51, 7, 13);
    height: 50px;
    margin-left: 230px;
    width: 100% ;
    float: right;
    color: white;
}

.right-box{
    height: 1000px;
    background-color: black;
    /* padding-left: 240px; */
    /* margin-left: 240px; */
    width: 230px;
    color: white;
    position: fixed;
}

.left-box{
    background-color: black;
    width:1000px;
}
